
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C0DBD9;
  }

  @font-face {
    font-family: Roboto; 
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap); 
   }

   body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
   }

  .wrapper {
    max-width: 1200px;
    height: auto;
    background-color: #C0DBD9;
    margin: 0 auto;
  }

  .header__block {
    height: 100px;
    background-color: #7FAFF6;
    margin-left: 15px;
    margin-right: 15px;
  }


/* Modal window */
.modal__dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
    transition: opacity 400ms ease-in;
}
.modal__dialog:target {
	opacity:1;
	pointer-events: auto;
}

.modal__dialog > div {
	width: 400px;
    height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}
.modal__dialog p {
    text-align: center;
    font-size: 53px;
    margin: 175px auto;
}

.close {
	background: #7FAFF6;
	color: #FFFFFF;
	line-height: 40px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 15px;
	width: 43px;
    height: 39px;
	text-decoration: none;
	font-weight: 400;
	border-radius: 5px;
    text-align: center;
    transition: all .3s;
}

.close:hover { 
    background: #72a8f8;
}

  .button {
    padding: 8px 15px;
    width: 209px;
    height: 39px;
    border-radius: 5px;
    border: 0px;
    margin: 30.5px auto 30.5px 28px;
    background-color: #A5C7F9;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
   }

   .button:hover {
       background-color: #87b5fa;
   }

   .block2__items{
    margin: 15px;
    display: flex;
    max-width: 1170px;
    height: auto;
    flex-wrap: wrap;
    background-color: #B3F95A;
    color: #FFFFFF;
    font-size: 53px;
    line-height: 62px;
   }

   .block2__items-item-1 {
       width: 33%;
       height: 198px;
       background-color: #8AD191;
       margin-right: 15px;
   }

   .block2__items-item-1::before {
       content: '1';
       position: relative;
       left: 45.9%;
       top: 34.1%;
   }


   .block2__items-item-2 {
       width: 50.4%;
       height: 198px;
       background-color: #8AD191;
       margin-right: 15px;
   }

   .block2__items-item-2::before {
    content: '2';
    position: relative;
    left: 47.4%;
    top: 34.3%;
   }

   .block2__items-item-3 {
       width: 14%;
       height: 198px;
       background-color: #8AD191;
   }

   .block2__items-item-3::before {
       content: '3';
       position: relative;
       left: 40.4%;
       top: 34.3%;
   }

   .block2__items-item-4 {
      width: 85%;
       height: 198px;
       background-color: #8AD191;
       margin-top: 15px;
       margin-right: 15px;
   }

   .block2__items-item-4::before {
    content: '4';
    position: relative;
    left: 48.7%;
    top: 34.1%;
}

   .block2__items-item-5 {
    width: 13.7%;
    height: 198px;       
    background-color: #8AD191;
    margin-top: 15px;
   }

   .block2__items-item-5::before {
    content: '5';
    position: relative;
    left: 41.4%;
    top: 34%;
}

.block3__items {
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #88B5BF;
}
.block3__items-item {
    width: 21.2vw;
    height: 16.7vw;
    background-color: #0D89B0;
    margin: 15px auto;
}

.footer {
    height: 100px;
    background-color: #7FAFF6;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 1201px) {
    .block2__items{
        margin: 15px;
        display: flex;
        max-width: 1170px;
        height: 411px;
        flex-grow: 1;
        flex-wrap: wrap;
        background-color: #B3F95A;
        color: #FFFFFF;
        font-size: 53px;
        line-height: 62px;
       }
    
       .block2__items-item-1 {
           width: 390px;
           height: 198px;
           background-color: #8AD191;
           margin-right: 15px;
       }
    
       .block2__items-item-1::before {
           content: '1';
           position: relative;
           left: 180px;
           top: 68px;
       }
    
    
       .block2__items-item-2 {
           width: 590px;
           height: 198px;
           background-color: #8AD191;
           margin-right: 15px;
       }
    
       .block2__items-item-2::before {
        content: '2';
        position: relative;
        left: 280px;
        top: 68px;
       }
    
       .block2__items-item-3 {
           width: 160px;
           height: 198px;
           background-color: #8AD191;
       }
    
       .block2__items-item-3::before {
           content: '3';
           position: relative;
           left: 65px;
           top: 68px;
       }
    
       .block2__items-item-4 {
           width: 995px;
           height: 198px;
           background-color: #8AD191;
           margin-top: 15px;
           margin-right: 15px;
       }
    
       .block2__items-item-4::before {
        content: '4';
        position: relative;
        left: 483px;
        top: 68px;
    }
    
       .block2__items-item-5 {
           width: 160px;
        height: 198px;       
    
        background-color: #8AD191;
        margin-top: 15px;
       }
    
       .block2__items-item-5::before {
        content: '5';
        position: relative;
        left: 65px;
        top: 68px;
    }
    .block3__items-item {
        width: 255px;
        height: 199px;
        background-color: #0D89B0;
        margin: 15px auto;
    }
}

@media (max-width: 1182px) {
    .block2__items-item-2 {
        margin-right: 0;
    }
    .block2__items-item-3 {
        display: none;
        margin-right: 0;
    }

    .block2__items-item-4 {
        margin-right: 0;
    }
    .block2__items-item-5 {
        display: none;
        margin-right: 0;
    }
    .block2__items {
        justify-content: center;
    }
}